.css-8b5nfy-MuiPaper-root-MuiDrawer-paper,
.css-1lwhjos-MuiPaper-root-MuiDrawer-paper{
    position: relative !important;
}

.css-17ha8e8-MuiDrawer-docked .This{
    display: block;
}

.css-dca0j9-MuiDrawer-docked .This{
    display: none;
}